* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #00ff51;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  padding: 3rem 12%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.1);
}
span{
  color: var(--main.color);
}

#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: flex;
  margin-top: -5px;
  margin-left: 20px;
  cursor: pointer;
}

#menu-icon-x{
  font-size: 3.5rem;
  color: var(--main-color);
  display: flex;
  margin-top: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.navbar{
  display: flex;
  flex-direction: row;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a:hover{
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}

.sidebar{
  position:fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 225px;
  z-index: 999;
  background-color: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
}

.sidebar a{
  margin-top: 10px;
}

section{
  min-height: 100vh;
  padding: 10rem 12%;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3{
  font-size: 3.5rem;
  margin: 1rem 0;
}

.home-content h3 span{
  color: var(--main-color)
}

.home-content p{
  font-size: 1.75rem;
  font-weight: 500;
  line-weight: 1.8;
}

.home-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.social-icons a i{
  font-size: 20px;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-center: center;
  font-size: center;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease;
}

.social-icons a:hover{
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btn{
  display: inline-block;
  padding: 1rem 3rem;
  background: black;
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  text-color: var(--main-color);
  color: black;
  border: 2px solid var(--main-color);
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
}

.btn:nth-of-type(1){
  background-color: var(--main-color);
  
}

.btn-group a:nth-of-type(2){
  color: var(--main-color);
}

.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--second-bg-color);
}

.about-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.about-content h2{
  font-size: 7rem;
  text-align: left;
}

.about-content h2 span{
  color: var(--main-color)
}

.about-content p{
  font-size: 3.8rem;
}

.about-content .btn{
  margin:3rem 0;
}

.heading{
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.services{
  background-color: var(--bg-color);
  color: black;
}

.services h2{
  color: var(--text-color);
}

.services-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 500px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid  transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover{
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.service-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.service-info i{
  font-size: 8rem;
}

.service-info h4{
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info p{
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.contact{
  background-color: var(--second-bg-color);
}

.contact h2{
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form{
  display: flex;
  align-items: center;
  justify-contact: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer{
  background-color: var(--bg-color);
  padding: 50px 0;
}

.footer .social-icons{
  text-align: center;
}

.footer ul{
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li{
  display: inline-block;
  margin-left: 20px;
  align-items: center;
}

.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright{
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}

::-webkit-scrollbar-track{
  background-color: var(--bg-color);
}

@media screen and (max-width: 700px){
  .header{
    padding: 2rem;
  }
  .home-content{
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .home-img{
    display: none;
    margin:none;
    padding: none;
  }

  .about-content{
    text-align: center;
    align-items: center;

  }

  .about-content p{
    text-align: center;
    font-size: 3rem;

  }

  .about-content h2{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .about-img{
    display: none;
    margin:none;
    padding: none;
  }

  .hideOnMobile{
    display: none
  }
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 100%;
  }
}